<!DOCTYPE>
<html>
<head>
<title>TODO LIST</title>
<link rel="stylesheet" href="style.css">
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"> -->
 <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->



</head>
<body>
<div class="container">
<form action="/" method="POST" autocomplete="off" >
<div id="myDIV" class="header">
    <h2> <%= kindOfDay %> </h2>
  <h2 class="Title">TODO</h2>
  <input type="text" id="myInput" placeholder="Add Todos....." name="todoValue" required>
  <button type="submit" class="addBtn"> Add Item </button>
</div>


</form>


<ul id="myUL">

  <% todos.map((item,idx)=> { %>
     <li > 
		<span> <%= item.title %> </span>	 
 
         <button class="delete" contenteditable="false" onclick="handleDeleteTodo('<%= item._id %>')">Delete</button>
		 	     
	      <button  class="edit" onclick="handleEditTitle('<%= item._id %>' )"  contenteditable="false">Update</button> 
	    
	  
	 
    </li>
	
	
  <% }) %>
  
</ul>

</div>


<script>
 
function handleEditTitle(id){
const lis = document.getElementById('myUL').getElementsByTagName('span');
window.location.href = "/"+id;
    
    // Loop through the NodeList object. 
    for (let i = 0; i <= lis.length - 1; i++) {
    	console.log (lis[i].innerText );
    }


handleUpdateTodo(id)

  
 }

function handleDeleteTodo(id) {
console.log("id:", id ) ;
 console.log("delete clicked")
 fetch(id, {
  method: "DELETE"
 })
 window.location.href = "/"
}

//update todo


//line through



  //  const deleteButton = document.querySelectorAll(".todo-delete")
  //  deleteButton.forEach((button,i)=> {
   
  //  button.addEventListener("click",()=>{
  //  const endPoint = `/${button.classList}`
  //  console.log(endPoint);
  //  })
   
  //  })
   
  //  const handleDeleteTodo=()=>{
  //  console.log("delete clicked")
  //  }


  // function myFunction(id) {
  //   if (confirm('Are you sure you want to delete this todo item?')) {
  //     fetch('/todos/' + id, {
  //       method: 'DELETE'
  //     })
  //     .then(response => {
  //       if (response.ok) {
  //         window.location.reload();
  //       }
  //     })
  //     .catch(error => console.log(error));
  //   }
  // }

 
</script>
</body>

</html>